{
  "parserOptions": {
    "ecmaVersion": "2018"
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "valid-typeof": "error",
    "no-console": "off"
    },
  "env": {
    "browser": true
  }
}